---
layout: archive
title: "Journal Articles"
permalink: /publications/journal/
author_profile: true
---

{% include base_path %}

{% assign journal_posts = site.publications | where: "category", "manuscripts" %}
{% assign journal_posts_with_order = journal_posts | where_exp: "item", "item.order" | sort: "order" %}
{% assign journal_posts_without_order = journal_posts | where_exp: "item", "item.order == nil" | sort: "date" | reverse %}
{% assign journal_post_list = journal_posts_with_order | concat: journal_posts_without_order %}

{% for post in journal_post_list %}
  {% include archive-single.html %}
{% endfor %}
