---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

<!-- New style rendering if publication categories are defined -->
{% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign category_posts = site.publications | where: "category", category[0] %}
    {% assign category_posts_with_order = category_posts | where_exp: "item", "item.order" | sort: "order" %}
    {% assign category_posts_without_order = category_posts | where_exp: "item", "item.order == nil" | sort: "date" | reverse %}
    {% assign category_post_list = category_posts_with_order | concat: category_posts_without_order %}
    {% if category_post_list.size > 0 %}
      <h2>{{ category[1].title }}</h2><hr />
    {% endif %}
    {% for post in category_post_list %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% assign publications_with_order = site.publications | where_exp: "item", "item.order" | sort: "order" %}
  {% assign publications_without_order = site.publications | where_exp: "item", "item.order == nil" | sort: "date" | reverse %}
  {% assign publication_list = publications_with_order | concat: publications_without_order %}
  {% for post in publication_list %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %}



